body {
    background: transparent !important;
}


#overlay_content_box {
    position: relative;
    border-radius: 5px;
    width: 360px;
    height: 686px;

    background-color: #191919;

    margin: 70px 0 0 10px;
    cursor: pointer;
}

#overlay_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay_content .overlay_minimize_btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 50px;
    height: 50px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.overlay_minimize_btn span {
    margin-top: -4px;
}