::selection {
    color: white;
    background: #ffa32b;
}

body {
    background: transparent !important;
    overflow: hidden;

}


#overlay_content_box {
    position: relative;
    border-radius: 5px;
    width: 360px;
    height: 686px;
    background-color: #191919;
    z-index: 0;
}

.overlay_wallpaper img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
}

.overlay_content {

    position: relative;
    padding: 130px 20px 0 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
}

.overlay_content__header_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay_content__title {
    font-size: 14px;
}

.overlay_content__title:not(:first-child) {
    margin: 10px 0 10px 0;
}

.overlay_content__selectedType {
    font-size: 12px;
}

.overlay_content_select_arty_box {
    flex-basis: 100%;
}

.overlay_content_select_arty_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    box-sizing: border-box;
}

.overlay_content_radio {
    width: 76px;
    height: 76px;
    background: #121212;
    border-radius: 5px;
}

.overlay_content_radio label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.09s ease-in-out;
}

.overlay_content_radio label img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background: #ffa32b;
    border-radius: 5px;
}



/* Input textbox style */
.overlay_content__textboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.overlay_content__textboxes input[type="number"] {
    border: none;
    width: 49%;
    height: 56px;
    border-radius: 5px;
    background: #121212;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    scroll-behavior: unset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]:focus {
    outline: 1px solid #ffa32b;
}



.overlay_content_coords_result {
    display: flex;
    align-items: center;
    margin: 25px 0 0 0;
}

.overlay_content_coords_result_content_box:not(:first-child) {
    margin-right: auto;
    margin-left: 20px;
}

.result_title {
    font-size: 14px;
    color: #737373;
}

.result_coords {
    font-size: 35px;
}

.overlay_content_copy_icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_content_copy_icon img {
    width: 50%;
    height: 50%;
}